<!-- ===== 桌面 ===== -->
<div id="desktop">
  <div id="desktop-icons">
    <!-- 此电脑 -->
    <div class="desktop-icon" data-name="此电脑" data-open="explorer"><div class="icon-img"><img src="icons/this-pc.svg" alt="此电脑"></div><div class="icon-label">此电脑</div></div>
    <!-- 回收站 -->
    <div class="desktop-icon" data-name="回收站"><div class="icon-img"><img src="icons/user-trash.svg" alt="回收站"></div><div class="icon-label">回收站</div></div>
    <!-- Microsoft Edge -->
    <div class="desktop-icon" data-name="Microsoft Edge" data-open="edge"><div class="icon-img"><img src="icons/microsoft-edge.svg" alt="Edge"></div><div class="icon-label">Edge</div></div>
    <!-- 控制面板 -->
    <div class="desktop-icon" data-name="控制面板" data-open="controlpanel"><div class="icon-img"><img src="icons/preferences-system.svg" alt="控制面板"></div><div class="icon-label">控制面板</div></div>
    <!-- 记事本 -->
    <div class="desktop-icon" data-name="记事本" data-open="notepad"><div class="icon-img"><img src="icons/text-editor.svg" alt="记事本"></div><div class="icon-label">记事本</div></div>
    <!-- 用户文件夹 -->
    <div class="desktop-icon" data-name="用户文件夹" data-open="explorer"><div class="icon-img"><img src="icons/user-home.svg" alt="用户文件夹"></div><div class="icon-label">用户文件夹</div></div>
    <!-- 终端 -->
    <div class="desktop-icon" data-name="终端" data-open="terminal"><div class="icon-img"><img src="icons/terminal.svg" alt="终端"></div><div class="icon-label">终端</div></div>
    <!-- 任务管理器 -->
    <div class="desktop-icon" data-name="任务管理器" data-open="taskmgr"><div class="icon-img"><img src="icons/utilities-system-monitor.svg" alt="任务管理器"></div><div class="icon-label">任务管理器</div></div>
  </div>
</div>

<div id="selection-box"></div>
