<!-- ===== 搜索面板 ===== -->
<div id="search-panel">
  <div class="search-header"><input type="text" class="search-input" id="search-input" placeholder="键入来搜索"></div>
  <div class="search-tabs"><div class="search-tab active">全部</div><div class="search-tab">应用</div><div class="search-tab">文档</div><div class="search-tab">Web</div><div class="search-tab">更多</div></div>
  <div class="search-body">
    <div class="search-category">最常用</div>
    <div class="search-result"><img src="icons/microsoft-edge.svg" alt=""><div class="search-result-info"><div class="sr-name">Microsoft Edge</div><div class="sr-desc">应用</div></div></div>
    <div class="search-result"><img src="icons/preferences-system.svg" alt=""><div class="search-result-info"><div class="sr-name">设置</div><div class="sr-desc">系统设置</div></div></div>
    <div class="search-result"><img src="icons/file-manager.svg" alt=""><div class="search-result-info"><div class="sr-name">文件资源管理器</div><div class="sr-desc">系统</div></div></div>
    <div class="search-category">推荐</div>
    <div class="search-result" data-open="taskmgr"><img src="icons/utilities-system-monitor.svg" alt=""><div class="search-result-info"><div class="sr-name">任务管理器</div><div class="sr-desc">系统</div></div></div>
    <div class="search-result" data-open="terminal"><img src="icons/terminal.svg" alt=""><div class="search-result-info"><div class="sr-name">Windows PowerShell</div><div class="sr-desc">应用</div></div></div>
  </div>
</div>
