<div class="ctx-menu" id="desktop-ctx">
  <div class="menu-item has-submenu">
    <span class="menu-text">查看</span>
    <span class="menu-arrow">▶</span>
    <div class="submenu">
      <div class="menu-item checked" data-action="icon-size" data-size="large"><span class="menu-check">✓</span><span class="menu-text">大图标</span></div>
      <div class="menu-item" data-action="icon-size" data-size="medium"><span class="menu-check">✓</span><span class="menu-text">中等图标</span></div>
      <div class="menu-item" data-action="icon-size" data-size="small"><span class="menu-check">✓</span><span class="menu-text">小图标</span></div>
    </div>
  </div>
  <div class="menu-item" id="ctx-refresh"><span class="menu-text">刷新</span></div>
  <div class="menu-separator"></div>
  <div class="menu-item disabled"><span class="menu-text">粘贴</span></div>
  <div class="menu-item disabled"><span class="menu-text">粘贴快捷方式</span></div>
  <div class="menu-separator"></div>
  <div class="menu-item has-submenu">
    <span class="menu-text">新建</span>
    <span class="menu-arrow">▶</span>
    <div class="submenu">
      <div class="menu-item" id="ctx-new-folder"><span class="menu-text">文件夹</span></div>
      <div class="menu-item" id="ctx-new-text"><span class="menu-text">文本文档</span></div>
    </div>
  </div>
  <div class="menu-separator"></div>
  <div class="menu-item" id="ctx-gadgets"><span class="menu-text">小工具</span></div>
  <div class="menu-item" id="ctx-display"><span class="menu-text">屏幕分辨率</span></div>
  <div class="menu-item" id="ctx-personalize"><span class="menu-text">个性化</span></div>
</div>

<div class="ctx-menu" id="icon-ctx">
  <div class="menu-item" id="icon-ctx-open"><span class="menu-text strong">打开</span></div>
  <div class="menu-separator"></div>
  <div class="menu-item disabled"><span class="menu-text">剪切</span></div>
  <div class="menu-item disabled"><span class="menu-text">复制</span></div>
  <div class="menu-separator"></div>
  <div class="menu-item" id="icon-ctx-delete"><span class="menu-text">删除</span></div>
  <div class="menu-item" id="icon-ctx-properties"><span class="menu-text">属性</span></div>
</div>

<div class="ctx-menu" id="taskbar-ctx">
  <div class="menu-item disabled"><span class="menu-text">工具栏</span></div>
  <div class="menu-separator"></div>
  <div class="menu-item" id="taskbar-show-desktop"><span class="menu-text">显示桌面</span></div>
  <div class="menu-item" id="taskbar-open-taskmgr"><span class="menu-text">启动任务管理器</span></div>
  <div class="menu-separator"></div>
  <div class="menu-item disabled"><span class="menu-text">锁定任务栏</span></div>
  <div class="menu-item disabled"><span class="menu-text">属性</span></div>
</div>